.discussion{
  .post-owner {
    font-weight: bold;
  }
  .post-datetime {
    font-size: 12px;
    color: lighten($base_color, 50%);
  }
  .comment-count {
    color: lighten($base_color, 50%);
  }
}