<ion-view view-title="Discussion">
  <ion-content class="discussion">
    <div class="padding">
      <div class="post-owner">
        Maria Ozawa
      </div>
      <div class="post-datetime">July 1, 2015 1:30 PM</div>

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos cum, non, omnis, ipsum suscipit ullam eum esse nobis nesciunt sequi, dolores dolorem odit. Alias vitae officiis unde incidunt iste ut!
    </div>
    <hr>
    <p class="comment-count padding">
      <i class="icon ion-chatbubble"></i>
      5 responses
    </p>
    <div class="list">
      <div class="item item-body" ng-repeat="i in [1,2,3,4,5,6]">
        <div class="discussion padding">
          <div class="post-owner">
            Maria Ozawa
          </div>
          <div class="post-datetime">July 1, 2015 1:30 PM</div>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos cum, non, omnis, ipsum suscipit ullam eum esse nobis nesciunt sequi, dolores dolorem odit. Alias vitae officiis unde incidunt iste ut!
        </div>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="reply" type="text" placeholder="Write a reply">
        </label>
        <button class="button button-small"><i class="icon ion-paper-airplane"></i></button>
      </div>
    </div>
  </ion-content>
</ion-view>