<ion-view>
  <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/ionic.png" alt="">
          <h2>Adones Pitogo</h2>
          <p>July 1, 2015</p>
        </div>

        <div class="item item-body">
          <h2>Topic title here</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nesciunt adipisci alias aliquid animi ducimus esse eum, itaque at quas consectetur praesentium, facilis, reiciendis assumenda iure quo aliquam harum perspiciatis!</p>
        </div>
      </div>
      <div class="list">
        <div class="item item-body">
        <p>
          <img src="img/ionic.png" alt="" style="width: 30px; vertical-align: middle;">
          <small>Adones Pitogo</small>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ut quae voluptate ullam! Quam hic deserunt, illum doloribus. Impedit quod nobis, repellendus maiores adipisci minima dolor amet in, eum voluptatibus.
        <br>
        <small>July 1, 2015</small>
        </p>
        </div>
      </div>
  </ion-content>
</ion-view>