<ion-view view-title="General Discussions">
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        July 2015
      </div>

      <a class="item item-body" ui-sref="app.discussion" ng-repeat="i in [1,2,3]">
        Topic title here title here title here title here title here title here title here title here
        <br>
        <small><i class="icon ion-chatbubble"></i> 5 comments</small>
      </a>

      <div class="item item-divider">
        June 2015
      </div>

      <a class="item" href="#" ng-repeat="i in [1,2,3]">
        Topic title here
      </a>

      <div class="item item-divider">
        May 2015
      </div>

      <a class="item" href="#" ng-repeat="i in [1,2,3]">
        Topic title here
      </a>

      <a href="#" class="button button-stable button-full">
        Previous posts
      </a>
      <a href="#" class="button button-stable button-full">
        Older posts
      </a>

    </div>
  </ion-content>
</ion-view>
