<ion-view view-title="Alumni Batches">
  <ion-content>
    <div class="list">
      <div class="item item-icon-left item-icon-right" ui-sref="app.batch">
        <i class="icon ion-android-people"></i>
        Batch 2012
        <i class="icon ion-chevron-right"></i>
      </div>
      <div class="item item-icon-left item-icon-right" ui-sref="app.batch">
        <i class="icon ion-android-people"></i>
        Batch 2013
        <i class="icon ion-chevron-right"></i>
      </div>
      <div class="item item-icon-left item-icon-right" ui-sref="app.batch">
        <i class="icon ion-android-people"></i>
        Batch 2014
        <i class="icon ion-chevron-right"></i>
      </div>
      <div class="item item-icon-left item-icon-right" ui-sref="app.batch">
        <i class="icon ion-android-people"></i>
        Batch 2015
        <i class="icon ion-chevron-right"></i>
      </div>
    </div>
  </ion-content>
</ion-view>