<ion-view view-title="General Discussions">
  <ion-content class="discussion">
      <ion-list>
        <ion-item class="item-divider">
          July 2015
        </ion-item>

        <ion-item ui-sref="app.discussion" ng-repeat="i in [1,2,3]">
          <span class="post-owner">
            Maria Ozawa
          </span> <br>
          <span class="post-datetime">July 1, 2015 1:30 PM</span> <br>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos cum, non, omnis, ipsum suscipit ullam eum esse nobis nesciunt sequi, dolores dolorem odit. Alias vitae officiis unde incidunt iste ut!
          <br>
          <small class="comment-count">
            <i class="icon ion-chatbubble"></i>
            5 comments
          </small>
        </ion-item>

        <div class="item item-divider">
          June 2015
        </div>

        <a class="item" href="#" ng-repeat="i in [1,2,3]">
          Topic title here
        </a>

        <div class="item item-divider">
          May 2015
        </div>

        <a class="item" href="#" ng-repeat="i in [1,2,3]">
          Topic title here
        </a>

        <a href="#" class="button button-stable button-full">
          Previous posts
        </a>
        <a href="#" class="button button-stable button-full">
          Older posts
        </a>
      </ion-list>

  </ion-content>
</ion-view>
