
.writepad {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  height: $writepad_height;
  width: 100%;
  z-index: 100;

  .item {
    padding: 7px;
  }

  textarea {
    width: 80%;
    height: 100%;
    display: inline-block;
    padding-top:10px;
  }
  button {
    vertical-align: middle;
    display: inline-block;
    width: 18%;
    margin-top: -8px;
  }
}

.writepad-placeholder {
  height: $writepad_height;
}