<ion-view view-title="New Event">

<ion-content>
  <form class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Event title</span>
      <input type="text" placeholder="Event title">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Description</span>
      <textarea name="" id="" cols="1000" rows="10" placeholder="Description"></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Venue</span>
      <input type="text"  ng-autocomplete ng-model="autocomplete" options="options" details="details" placeholder="Venue"/>
    </label>
    <div class="item">
      <div class="row">
        <div class="col">
          <b>Start</b>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Date</span>
            <input type="date" ng-model="date" placeholder="Date">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Time</span>
            <input type="time" ng-model="timeStart" placeholder="Time Start">
          </label>
        </div>
        <div class="col">
          <b>End</b>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Date</span>
            <input type="date" ng-model="date" placeholder="Date">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Time</span>
            <input type="time" ng-model="timeStart" placeholder="Time Start">
          </label>
        </div>
      </div>
    </div>
     <div class="item row">
        <div class="col col-50 col-offset-25">
          <button class="button button-positive button-block">Post</button>
        </div>
     </div>
   </form>
</ion-content>
</ion-view>