<ion-view view-title="Details">
  <ion-content>
    <div class="list">
      <div class="item item-body">
        <h2>ED - PN Sports Feast</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laborum, est animi magnam maiores explicabo tempora cupiditate. In necessitatibus ipsam, placeat, ab est provident dolores molestias ipsum accusantium dolore eum!</p>
        <div class="row">
          <div class="padding-right">
            <i class="icon ion-android-pin"></i>
          </div>
          <small>Family Park</small>
        </div>
        <div class="row">
          <div class="padding-right">
            <i class="icon ion-ios-clock-outline"></i>
          </div>
          <small>June 1 1:00 PM</small>
        </div>
      </div>
      <div class="item item-divider">
        <small><i class="icon ion-chatbubbles"></i> 13 comments</small>
      </div>
    </div>
  </ion-content>
</ion-view>

<div class="writepad">
  <div class="list">
    <div class="item">
      <textarea name="" placeholder="Write a reply..."></textarea>
      <button class="button button-small">
        <i class="icon ion-paper-airplane"></i>
      </button>
    </div>
  </div>
</div>