<ion-view view-title="Events">
  <ion-content class="events">
    <div class="list">
      <div class="item item-divider">
        Upcoming Events
      </div>
      <div class="item" ng-repeat="i in [1,2,3]" ui-sref="app.event">
        <h2>Sports Feast 2015</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque molestias fugit, sunt sapiente tempora modi quos iusto esse quasi corporis necessitatibus! Minus doloremque quis eum perferendis non. Voluptatibus, dicta, deleniti.</p>
      </div>
      <div class="item item-divider">
        Previous Events
      </div>
    </div>
  </ion-content>
</ion-view>