<ion-view view-title="PNPAA">
  <ion-content>

  <div class="list card">

    <a ui-sref="app.discussions" class="item item-icon-left">
      <i class="icon ion-chatboxes"></i>
      New Discussions
      <span class="badge badge-positive">3</span>
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-chatbubble-working"></i>
      Conversations
      <span class="badge badge-positive">7</span>
    </a>

    <a ui-sref="app.events" class="item item-icon-left">
      <i class="icon ion-beer"></i>
      Upcoming Events
      <span class="badge badge-positive">2</span>
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-briefcase"></i>
      Mettings
      <span class="badge badge-dark">0</span>
    </a>


  </div>

  </ion-content>
</ion-view>